# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


# Folders #
############
node_modules/

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
code/angular/assignments/basics-assignment-3-start/.editorconfig
code/angular/assignments/basics-assignment-3-start/angular.json
code/angular/assignments/basics-assignment-3-start/e2e/protractor.conf.js
code/angular/assignments/basics-assignment-3-start/e2e/src/app.e2e-spec.ts
code/angular/assignments/basics-assignment-3-start/e2e/src/app.po.ts
code/angular/assignments/basics-assignment-3-start/e2e/tsconfig.e2e.json
code/angular/assignments/basics-assignment-3-start/how-to-use.txt
code/angular/assignments/basics-assignment-3-start/package-lock.json
code/angular/assignments/basics-assignment-3-start/package.json
code/angular/assignments/basics-assignment-3-start/README.md
code/angular/assignments/basics-assignment-3-start/src/app/app.component.css
code/angular/assignments/basics-assignment-3-start/src/app/app.component.html
code/angular/assignments/basics-assignment-3-start/src/app/app.component.spec.ts
code/angular/assignments/basics-assignment-3-start/src/app/app.component.ts
code/angular/assignments/basics-assignment-3-start/src/app/app.module.ts
code/angular/assignments/basics-assignment-3-start/src/assets/.gitkeep
code/angular/assignments/basics-assignment-3-start/src/browserslist
code/angular/assignments/basics-assignment-3-start/src/environments/environment.prod.ts
code/angular/assignments/basics-assignment-3-start/src/environments/environment.ts
code/angular/assignments/basics-assignment-3-start/src/favicon.ico
code/angular/assignments/basics-assignment-3-start/src/index.html
code/angular/assignments/basics-assignment-3-start/src/karma.conf.js
code/angular/assignments/basics-assignment-3-start/src/main.ts
code/angular/assignments/basics-assignment-3-start/src/polyfills.ts
code/angular/assignments/basics-assignment-3-start/src/styles.css
code/angular/assignments/basics-assignment-3-start/src/test.ts
code/angular/assignments/basics-assignment-3-start/src/tsconfig.app.json
code/angular/assignments/basics-assignment-3-start/src/tsconfig.spec.json
code/angular/assignments/basics-assignment-3-start/src/tslint.json
code/angular/assignments/basics-assignment-3-start/tsconfig.json
code/angular/assignments/basics-assignment-3-start/tslint.json
code/angular/assignments/task2/task2/.editorconfig
code/angular/assignments/task2/task2/angular.json
code/angular/assignments/task2/task2/e2e/protractor.conf.js
code/angular/assignments/task2/task2/e2e/src/app.e2e-spec.ts
code/angular/assignments/task2/task2/e2e/src/app.po.ts
code/angular/assignments/task2/task2/e2e/tsconfig.e2e.json
code/angular/assignments/task2/task2/package-lock.json
code/angular/assignments/task2/task2/package.json
code/angular/assignments/task2/task2/README.md
code/angular/assignments/task2/task2/src/app/app.component.css
code/angular/assignments/task2/task2/src/app/app.component.html
code/angular/assignments/task2/task2/src/app/app.component.spec.ts
code/angular/assignments/task2/task2/src/app/app.component.ts
code/angular/assignments/task2/task2/src/app/app.module.ts
code/angular/assignments/task2/task2/src/assets/.gitkeep
code/angular/assignments/task2/task2/src/browserslist
code/angular/assignments/task2/task2/src/environments/environment.prod.ts
code/angular/assignments/task2/task2/src/environments/environment.ts
code/angular/assignments/task2/task2/src/favicon.ico
code/angular/assignments/task2/task2/src/index.html
code/angular/assignments/task2/task2/src/karma.conf.js
code/angular/assignments/task2/task2/src/main.ts
code/angular/assignments/task2/task2/src/polyfills.ts
code/angular/assignments/task2/task2/src/styles.css
code/angular/assignments/task2/task2/src/test.ts
code/angular/assignments/task2/task2/src/tsconfig.app.json
code/angular/assignments/task2/task2/src/tsconfig.spec.json
code/angular/assignments/task2/task2/src/tslint.json
code/angular/assignments/task2/task2/tsconfig.json
code/angular/assignments/task2/task2/tslint.json
