<html>
    <body>
        <table>
            <tr>
                <td>id</td>
                <td>name</td>
            </tr>
            <tr>
                <td>1</td>
                <td>NodeJS book</td>
            </tr>
        </table>
    </body>

</html>